<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My App</title>
  
		<meta charset="utf-8">
		
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<link href="css/custom-style.css" rel="stylesheet">
	</head>
	<body ng-app="BadAssApp">
	     <div ng-controller="homeController">
        <input type="text" ng-model="ui"><button ng-click="add()">Add</button>
            <ul>
        <li ng-repeat="x in list"> {{ x }} </li>
    </ul>
      </div>
      {{ 1 + 1 }}


		<script type="text/javascript" charset="utf-8" src="js/lib/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/lib/angular-1.0.2.min.js"></script>
		
		<!-- I typically place helper functions / snippets in js/helpers/<myhelper>.js and then <script> them in here. -->
		
		<script type="text/javascript" charset="utf-8" src="app/app.js"></script>
    <script type="text/javascript" charset="utf-8" src="app/controllers/homeController.js"></script>
		

	</body>
</html>
